a, a:hover {
    color: #a6c;
}

.link {
    color: #6c757d;
}

.responsive {
    width: 75%;
    max-width: 600px;
    height: auto;
}

.row {
    margin: 5%;
}

.appbody {
    background: #3336b3; /* Old browsers */
    background: -moz-linear-gradient(top, #3336b3 0%, #5b199e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3336b3 0%,#5b199e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3336b3 0%,#5b199e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3336b3', endColorstr='#5b199e',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
}

.jumbotron-fluid {
    background: white;
}
.card-header {
    color: #8385ee;
    font-size: 150%
}